@font-face {
    font-family: "Roboto_Mio";
    src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
}


/* 
html {
    font-size: 20px;
}

@media (max-width: 440px) {
    html {
        font-size: 18px;
    }
} */

body {
    margin: 0;
    color: #67666e;
    font-family: "Roboto_Mio", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}